header{
        width: 80%;
            margin:auto;
                background-image: url(web.jpg);
                    background-size: cover;
                        margin-top: 40px;
    }

    #nom{
        color:white;
         text-align: center;
            background-color:black
    }
    
#coordonees{
    color:white;
        font-weight:bold;
            font-size:20px; 
                font-family:Tahoma;
                   
                }

#img{
    text-align: right;
   }

#nav{
    color: white;
    font-weight: bold;
    display: inline;
}
 
main{
    width: 80%;
            margin:auto;

}
    #bob{
        text-align:left;
        color:black;
        font-weight:bold;
        font-size:30px;
    }

    .title{
        color: black;
        font-weight:bold;
        font-size:30px;
        text-align: center;
}

.trotro{
    text-align: right;
    
}

.diplomes{
    text-align: center;
}
aside{
    width: 80%;
            margin:auto;
}
#divers{
    color: blue;
}

